@import "../base/settings.scss";

@font-face {
  font-family: "IRANSansWeb";
  src: local("IRANSansWeb"), url(../../fonts/IRANSansWeb.ttf) format("opentype");
}

@font-face {
  font-family: "IRANSansWeb_Bold";
  font-weight: 900;
  src: local("IRANSansWeb_Bold"),
    url(../../fonts/IRANSansWeb_Bold.ttf) format("opentype");
}

@font-face {
  font-family: "IRANSansWeb_Black";
  font-weight: 900;
  src: local('"IRANSansWeb_Black"'),
    url(../../fonts/IRANSansWeb_Black.ttf) format("opentype");
}

*,
*::before,
*::after {
  font-family: IRANSansWeb;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#nav-container {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: $dark;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid $yellow;
}

#left-nav-container {
  display: flex;
  flex-direction: row-reverse;
  height: 80px;
  margin-left: 140px;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-links {
  display: flex;
  flex-direction: row-reverse;
  color: $gray;
  list-style: none;
  align-items: center;
  justify-content: center;
}

#nav-links a:hover {
  color: $yellow;
  cursor: pointer;
}

.selected {
  font-weight: bold;
  color: $yellow !important;
}

.logo-container {
  text-decoration: none;
}

#nav-links a {
  margin-left: 50px;
  color: $gray;
  text-decoration: none;
}

#logo {
  color: $gray;
  margin-right: 140px;
  font-weight: 200;
}

#logo span {
  color: $yellow;
}

// #language {
//   background-color: $light;
//   border: none;
//   outline: none;
//   margin-left: 1em;
//   width: 70px;
//   height: 70px;
//   color: $gray;
//   appearance: none;
//   text-indent: 2em;
// }

// #theme {
//   background-color: $light;
//   border: none;
//   outline: none;
//   width: 70px;
//   height: 70px;
//   color: $gray;
//   appearance: none;
//   text-indent: 1.5em;
// }

// .languageController,
// .themeController {
//   width: 71px;
//   height: 71px;
//   background-color: $light;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .themeController {
//   position: absolute;
//   left: -100px;
// }

// .languageController__control,
// .themeController__control {
//   background-color: $light !important;
//   border: none !important;
//   outline: none !important;
// }

// .languageController__value-container,
// .themeController__value-container {
//   padding: 0.8em !important;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .languageController__indicator,
// .themeController__indicator {
//   display: none !important;
// }

// .languageController__value-container,
// .themeController__value-container {
//   padding: 1em;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .themeController__single-value {
//   color: white !important;
//   margin: inherit !important;
// }

.header-profile-container {
  display: flex;
  flex-direction: row-reverse;
  color: $gray;
  justify-items: center;
  align-items: center;
  height: 71px;
  max-width: 300px;
  background-color: $light;
  padding: 1em;
  margin-right: 1em;
  border-radius: 10px;
}

.header-profile-container img {
  border: 3px solid $yellow;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-left: 10px;
}

.header-profile-welcome {
  direction: rtl;
  font-size: 0.8em;
}

.loginMenu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}

.logout-text {
  position: absolute;
  left: -8em;
}
//HomePage

//Hero
.hero-container {
  background-color: $dark;
  color: white;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  margin-top: -2em;
  margin-bottom: 10px;
}

.hero-subtitle {
  margin-bottom: 3em;
  color: $gray;
}

.hero-input-container {
  width: 100%;
  max-width: 1080px;
  position: relative;
}

.hero-input {
  width: 100%;
  height: 50px;
  background-color: $light;
  outline: none;
  border: none;
  color: white;
  padding: 2em;
  padding-right: 5em;
  text-align: right;
}

.hero-input-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 30px;
  width: 30px;
}

//favcategory

.favcategory-container {
  height: 500px;
  background-color: $light;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favcategory-title {
  margin-top: 1.2em;
  color: white;
}

.single-category-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: $dark;
  justify-content: space-between;
  padding: 1em 2em;
  color: white;
  width: 300px;
}

.category-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-top: 2em;
}

.favcategory-button {
  padding: 0.8em 3em;
  margin-top: 2em;
  background-color: $yellow;
  outline: none;
  border: none;
  color: $dark;
  font-size: 1.1em;
  font-family: bold;
  border-radius: 10px;
}

//NEW course List
.newcourseslist-container {
  background-color: $dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  color: $white;
}
//Single Course Comp
.singlecoursecomponent {
  width: 90%;
  height: 240px;
  display: flex;
  flex-direction: row-reverse;
  background-color: $light;
  margin: 2em;
}
.singlecourse-img-wrapper img {
  height: 100%;
}

.singlecourse-description-wrapper {
  direction: rtl;
  color: $white;
  padding: 1em;
  position: relative;
}

// .singlecourse-description-title {
// }
.singlecourse-description-text {
  color: $gray;
  margin-top: 1em;
}

.singlecourse-description-bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.singlecourse-description-bottom-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.singlecourse-description-bottom-icon {
  display: flex;
  margin-left: 2em;
}

.singlecourse-description-bottom-icon p {
  margin-right: 1em;
}

.singlecourse-description-button {
  padding: 0.8em 3em;
  margin: 2em;
  background-color: $yellow;
  outline: none;
  border: none;
  color: $dark;
  font-size: 0.8em;
  font-family: bold;
  border-radius: 10px;
}

//contactus page
.contactUsPage-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  padding: 3em;
  background: $dark;
}

.contactus-map-wrapper {
  grid-column: 2/3;
  grid-row: 1/3;
  background: $light;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

#contactusMap {
  margin-top: 2em;
  border-radius: 10px;
}

.contactus-map-title {
  color: $gray;
  align-self: flex-end;
  margin: 1em 2em;
}

.contactus-map-info {
  direction: rtl;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contactus-map-info img {
  width: 20px;
  display: inline;
}

.map-info {
  margin-top: 1.5em;
  margin-right: 3em;
  display: flex;
  align-items: center;
}

.contactus-map-info span {
  color: $gray;
  margin-right: 1em;
}
// .contactusform-wrapper {
// }

.contactusform {
  padding: 2em;
  display: flex;
  flex-direction: column;
  direction: rtl;
  grid-column: 1/3;
  grid-row: 1/3;
  background: $light;
  color: $gray;
  border-radius: 10px;
}

.contactusform label {
  display: inline;
}

.contactusform label div {
  display: inline;
}
.contactusform input {
  display: inline;
  margin-top: 0.8em;
  margin-bottom: 2em;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid $gray;
  width: 100%;
  color: $gray;
  padding-right: 1em;
  height: 30px;
}
.contactusform button {
  padding: 0.8em 3em;
  margin: 2em;
  background-color: $yellow;
  outline: none;
  border: none;
  color: $dark;
  font-size: 0.8em;
  font-family: bold;
  border-radius: 10px;
}
.social-wrapper {
  grid-column: 1/-1;
  background: $light;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: $gray;
  padding: 2em;
}

.social-icons img {
  height: 60px;
  margin-right: 1em;
}

//about us PAge
.aboutUs-wrapper {
  background-color: $dark;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutUs-content {
  margin-top: 2em;
  border-radius: 10px;
  width: 90%;
  height: 500px;
  background-color: $light;
  direction: rtl;
  color: $gray;
  padding: 2em;
}
.aboutUs-content h1 {
  color: $white;
}

.aboutUs-content p {
  margin-top: 2em;
  line-height: 30px;
}

.aboutus-social-wrapper {
  width: 90%;
}

//LOGIN page
.loginPage-wrapper {
  min-height: 60vh;

  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  color: $gray;
}

.loginSuccess-container {
  direction: rtl;
  border-radius: 10px;
  margin-bottom: 2em;
  background-color: rgb(237, 247, 237);
  color: rgb(30, 70, 32);
  width: 100%;
  padding: 2em;
}

.loginError-container {
  border-radius: 10px;
  margin-bottom: 2em;
  background-color: rgb(253, 236, 234);
  color: rgb(97, 26, 21);
  width: 100%;
  padding: 2em;
}

.loginButton {
  padding: 0.8em 3em;
  width: 100%;
  margin-top: 1em;
  background-color: $yellow;
  outline: none;
  border: none;
  color: $dark;
  font-size: 1em;
  font-family: bold;
  border-radius: 10px;
  cursor: pointer;
}
.loginButton:hover {
  background-color: lighten($yellow, $amount: 10%);
}

.loginButton:disabled {
  background-color: $gray;
  cursor: no-drop;
}

.loginButton:disabled:hover {
  background-color: $gray;
  cursor: no-drop;
}

.login-wrapper {
  background-color: $light;
  width: 50%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 10px;
}

.login-wrapper p {
  margin-bottom: 1em;
  color: $white;
}

.login-wrapper label {
  margin-top: 0.5em;
}

.login-wrapper input {
  margin-top: 0.5em;
  height: 40px;
  padding-right: 2em;
}

//register page

.register-wrapper {
  background-color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerError-container {
  border-radius: 10px;
  margin-bottom: 2em;
  background-color: rgb(253, 236, 234);
  color: rgb(97, 26, 21);
  width: 100%;
  padding: 2em;
}

.error-text-container {
  display: flex;
  align-items: center;
}

.error-text-container svg {
  min-height: 32px;
  max-height: 32px;
  margin-left: 1em;
  fill: #f44336;
}

.registerError-container p {
  color: rgb(97, 26, 21) !important;
}

.registerSuccess-container {
  display: flex;
  align-items: center;

  border-radius: 10px;
  margin-bottom: 2em;
  background-color: rgb(237, 247, 237);
  color: rgb(30, 70, 32);
  width: 100%;
  padding: 2em;
}

.registerSuccess-container svg {
  min-height: 32px;
  max-height: 32px;
  margin-left: 1em;
  fill: #4caf50;
}

.register-form {
  color: $gray;
  background-color: $dark;
  margin-top: 2em;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  direction: rtl;
  border-radius: 10px;
  margin-bottom: 2em;
}

.register-form input {
  margin-top: 0.5em;
  height: 40px;
  padding-right: 2em;
}

.register-form label {
  margin-top: 1em;
}

.register-wrapper p {
  margin-bottom: 1em;
  color: $white;
}

.registerButton {
  padding: 0.8em 3em;
  width: 100%;
  margin-top: 1em;
  background-color: $yellow;
  outline: none;
  border: none;
  color: $dark;
  font-size: 1em;
  font-family: bold;
  border-radius: 10px;
  cursor: pointer;
}

.registerButton:disabled {
  background-color: $gray;
  cursor: no-drop;
}

.registerButton:disabled:hover {
  background-color: $gray;
}

.registerButton:hover {
  background-color: lighten($yellow, $amount: 10);
}

//edit- profile
.dashboard-Container {
  background-color: $dark;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 2em;
}

.dashboard-content-wrapper {
  width: 100%;
  background-color: $light;
  border-radius: 10px;
  direction: rtl;
  display: flex;
  flex-direction: column;
}

.dashboard-avatar-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.dashboard-avatar-img {
  border-radius: 50%;
  border: 5px solid $yellow;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.avatar-overLay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  pointer-events: none;
  overflow: hidden;
}

.avatar-overLay::after {
  position: absolute;
  content: "📥 انتخاب آواتار";
  color: $dark;
  font-size: 0.4em;
  padding: 1.2em;
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
  top: 90px;
  border-radius: 50%;
  background-color: $yellow;
}
.avatar-overLay-text {
  background-color: rgba(0, 0, 0, 0.5);
}

.user-info-wrapper {
  font-size: 12px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.left-user-info,
.right-user-info {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: $gray;
}

.left-user-info input,
.right-user-info input {
  margin-bottom: 1em;
  height: 45px;
  background-color: $dark;
  outline: none;
  border: none;
  padding-right: 1em;
  color: white;
  border-bottom: 1px solid darken($color: $dark, $amount: 20%);
  border-left: 1px solid darken($color: $dark, $amount: 20%);
}

.left-user-info input:disabled,
.right-user-info input:disabled {
  background-color: rgb(61, 61, 61);
}

// ----- Select component for sex selection ----- //

.sex-checkbox-wrapper {
  display: flex;
  direction: rtl;
  justify-content: space-between;
  align-items: center;
}

#male,
#female,
#rathernotsay {
  display: none;
}

.gender-container label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gender-container label img {
  margin-left: 10px;
  height: 40px;
  width: 40px;
  pointer-events: none;
}

#male:checked ~ #malelabel {
  color: #a3a3cd;
}
#female:checked ~ #femalelabel {
  color: rgb(247, 175, 187);
}
#rathernotsay:checked ~ #rathernotsaylable {
  color: #b3b0e7;
}

.react-select-dashboard-sex-info__menu {
  z-index: 2000000;
}

.left-user-info label,
.right-user-info label {
  margin-bottom: 0.8em;
}

.dashboard-button-wrapper {
  display: flex;
  margin-top: 1em;
  flex-direction: row;
  justify-content: flex-end;
}

.dashboard-button-update,
.dashboard-button-delete {
  padding: 0.5em 1em;
  margin: 1em 1em;
  font-size: 0.6em;
  border-radius: 5px;
  outline: none;
  border: none;
}

.dashboard-button-update {
  background-color: $yellow;
  cursor: pointer;
}
.dashboard-button-update:hover {
  background-color: #4caf50;
}
.dashboard-button-delete {
  background-color: #f32013;
  cursor: pointer;
}

.dashboard-button-delete:hover {
  background-color: lighten($color: #f32013, $amount: 10%);
}

//avatarMaker & MODAL
.modal-content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatarEditor-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatarUploadSuccessfull {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
}

#avatar-upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#avatar-upload-input + label {
  font-weight: 700;
  color: white;
  background-color: $yellow;
  display: inline-block;
  color: $dark;
  padding: 10px 100px;
  margin-top: 2em;
  margin-bottom: 1em;
}

#avatar-upload-input:focus + label,
#avatar-upload-input + label:hover {
  background-color: #4caf50;
}

#avatar-upload-input + label {
  cursor: pointer; /* "hand" cursor */
}

.avatar-upload-label {
  justify-content: center;
  text-align: center;
}
#avatar-upload-input:focus + label {
  outline: 1px dotted $yellow;
  outline: -webkit-focus-ring-color auto 5px;
}

.avatar-uploaded-file-tag {
  direction: rtl;
  color: $gray;
  display: flex;
  flex-direction: column;
}

.avatar-uploaded-file-tag-desc {
  font-size: 0.6em;
  word-wrap: break-word;
  margin-top: 1em;
}
.avatar-input-file-wrapper {
  display: flex;
  flex-direction: column;
  direction: rtl;
}

.avatar-page-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  margin-top: 2em;
}

.avatar-page-button-upload {
  font-weight: 700;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 1em;
  margin-right: 1em;
  background-color: #4caf50;
  color: rgb(30, 70, 32);
  outline: none;
  border: none;
}

.avatar-page-button-delete {
  font-weight: 700;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 1em;
  margin-right: 1em;
  background-color: orange;
  color: rgb(30, 70, 32);
  outline: none;
  border: none;
}

.avatar-page-button-delete:hover {
  cursor: pointer;
  background-color: lighten($color: orange, $amount: 10%);
}

.avatar-page-button-upload:hover {
  cursor: pointer;
  background-color: lighten($color: #4caf50, $amount: 10%);
}

.avatar-page-button-cancel:hover {
  cursor: pointer;
  background-color: lighten($color: #f32013, $amount: 10%);
}

.avatar-page-button-cancel {
  font-weight: 700;
  color: white;
  background-color: #f32013;
  display: inline-block;
  color: $dark;
  padding: 10px 30px;
  margin-bottom: 1em;
  outline: none;
  border: none;
}

//SingleCoursePage

.singleCousePage-wrapper {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: $dark;
  padding: 4em;
}

.singleCourse-container {
  background-color: $light;
  border-radius: 10px;
  padding: 2em;
  direction: rtl;
  color: $gray;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
}

.imageContainer {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courseShortDescription-container {
  padding: 1em;
  grid-column: 2/3;
}

.courseLongDescription-container {
  padding: 1em;
  grid-column: 1/3;
}
.tabs-wrapper {
  padding: 1em;

  grid-column: 1/3;
}

.tabs-container {
  background-color: $dark;
}

.tabs-title-container {
  padding: 1em;
  //   width: 100%;
  //   border-bottom: 1px solid $gray;
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   width: 100%;
}

.tabs-title {
  display: flex;
  // direction: rtl;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-evenly;
  // width: 100%;
  // height: 100%;
  // margin-bottom: 2em;
}

.tabs-title li {
  text-decoration: none;
  list-style: none;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  cursor: pointer;
}

.tabs-data-container {
  padding: 1em;
}

// .download-link-tab,
// .user-comments-tab,
// .user-questions-tab {
//   display: none;
// }

.active-tab {
  border-bottom: 5px solid $yellow;
  color: $yellow;
  font-weight: bold;
}

.active-content {
  display: block;
}

//footer
.footer-container {
  background-color: $light;
  position: relative;
  border-top: 1px solid $yellow;
}

.footer-top-wrapper {
  display: flex;
  height: 250px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.footer-top-right {
  margin-right: 7em;
  direction: rtl;
  max-width: 400px;
}

.footer-logo {
  font-size: 3em;
  color: $gray;
}

.footer-logo span {
  color: $yellow;
}

.footer-subtitle {
  color: $gray;
  font-size: 0.8em;
}

.footer-text {
  margin-top: 1em;
  color: $gray;
}

.footer-top-left {
  margin-left: 7em;
  display: grid;
  column-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nemad-wrapper {
  background-color: $gray;
  border-radius: 30px;
  padding: 0.6em;
}

.nemad-wrapper img {
  height: 120px;
}

.footer-bottom-wrapper {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark;
  color: $gray;
  width: 100%;
}
